[submodule "homework/email-and-button"]
	path = homework/email-and-button
	url = git@github.com:rdlin2/email-and-button.git
[submodule "homework/colorCard"]
	path = homework/colorCard
	url = git@github.com:rdlin2/ColorCard.git
