[submodule "homework/email-and-button"]
	path = homework/email-and-button
	url = git@github.com:rdlin2/email-and-button.git
[submodule "homework/colorCard"]
	path = homework/colorCard
	url = git@github.com:rdlin2/ColorCard.git
[submodule "homework/toggleCard"]
	path = homework/toggleCard
	url = git@github.com:rdlin2/ToggleCard.git
[submodule "homework/KotlinPracticeScreen"]
	path = homework/KotlinPracticeScreen
	url = git@github.com:rdlin2/KotlinPracticeScreen.git
[submodule "homework/RowColumnSplit"]
	path = homework/RowColumnSplit
	url = git@github.com:rdlin2/RowColumnSplit.git
[submodule "homework/LazyColStickyHeader"]
	path = homework/LazyColStickyHeader
	url = git@github.com:rdlin2/LazyColStickyHeader.git
[submodule "homework/ScaffoldBarsAndFab"]
	path = homework/ScaffoldBarsAndFab
	url = git@github.com:rdlin2/ScaffoldBarsAndFab.git
[submodule "homework/ThemedForm"]
	path = homework/ThemedForm
	url = git@github.com:rdlin2/ThemedForm.git
[submodule "homework/lifecycle"]
	path = homework/lifecycle
	url = git@github.com:rdlin2/lifecycle.git
[submodule "homework/counterplusplus"]
	path = homework/counterplusplus
	url = git@github.com:rdlin2/counterplusplus.git
[submodule "homework/whatsfordinner"]
	path = homework/whatsfordinner
	url = git@github.com:rdlin2/whatsfordinner.git
